.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-block: 60px;
    padding-inline: 30px;
    background-color: var(--clr-bg);

    max-width: 1020px;
    margin-inline: auto;
}

.heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.blockInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .description {
        font-size: 1.2rem;
        color: var(--clr-text);
    }
}



.note {
    width: 100%;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--clr-note);
    color: var(--clr-note);
    background-color: var(--clr-note-light);

    & span {
        font-weight: bold;
    }
}

@media (max-width: 920px) {
    .page {
        max-width: 768px;
        padding-block: 30px;
        padding-inline: 30px;
    }

    .heading {
        text-align: center;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }

    .note {
        font-size: 0.8rem;
    }
}