.editor {
    height: 600px;
    border-radius: 10px;
    width: 100%;
    color: white;
    background-color: black;


}

.pre {
    height: 100%;
}

/* .textArea {} */

/* .code {} */

.smileyButton {
    width: 300px;
    height: 200px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;

}

.smileyImage {
    width: 100%
}

@media (max-width: 670px) {
    .editor {
        height: 400px;
    }
}