.page {
    max-width: 768px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-bg);
    padding-inline: 30px;
    padding-block: 40px;
    text-align: center;
    /* border: 1px solid red; */
}

.appTitle {
    font-weight: bold;
    font-size: 1rem;
    color: #5a96f8;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-block: 20px;
    color: #333;
}

.description {
    font-size: 1.2rem;
    color: var(--clr-text);
    margin-block: 0px 40px;
}

@media (min-width: 1220px) {
    .page {
        max-width: 1020px;
    }
}